
<div id="band" class="container text-center">
  <h3>About Us</h3>
  <p><em>We love Speed!</em></p>
  <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Mathan Rasalingam </strong></p>
                <br>
                <a href="#Mathan" data-toggle="collapse">
                    <img src="mathan1.jpg" class="img-circle person" alt="Mathan Rasalingam" width="255" height="255">
                </a>
                <div id="Mathan Rasalingam" class="collapse">
                    <p>Chief Technology Officer</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Jose Urbina</strong></p>
                <br>
                <a href="#Jose" data-toggle="collapse">
                    <img src="jose.jpg" class="img-circle person" alt="Jose Urbina" width="255" height="255">
                </a>
                <div id="Jose Urbina" class="collapse">
                    <p>CEO</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Methun Dharmakrishnan</strong></p>
                <br>
                <a href="#Methun" data-toggle="collapse">
                    <img src="methun.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="Methun Dharmakrishnan" class="collapse">
                    <p>Vice President</p>
                    <p>Loves math</p>
                    <p>Member since 2005</p>
                </div>
            </div>
        </div>
    </div>